body {
  background-color: #99C0E2;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  color: #191919;
  background-color: #ffffff;
  margin: 5%;
  padding: 10px 20px 10px 50px;
}

img {
    max-width: 100%;
     display: block;
     height: auto;
   }